head {
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Lato:ital@0;1&display=swap" rel="stylesheet">
    margin-top: 0px;
    
        
    }
}

body {
    margin-top: 0px;
    font-family: 'Lato', Tahoma, Verdana, Arial, sans-serif;
    margin-left:auto;
    margin-right: auto;
    background-color:snow;
}

p {
    color:lightslategrey;
    font-size: 18px;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    
}


li {
    font-weight: bold;
    line-height: 1.5;
    
}

h1, 
h2, 
h3, 
{
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', Tahoma, Verdana, Arial, sans-serif;
}

